/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  background-color: black;
  color: white; /* text color */
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* Make text visible on inputs */
.shiny-input-container {
  color: #474747;
}

.text-panel {
  text-align: left;
  background-color: rgba(73, 73, 73, 0.26);
  padding: 30px;
  color: white;
  border: 0;
}

/* .main-page-container {
  padding-left: 15%;
  padding-right: 15%;
} */

.main-page-button {
  margin-top: 40px;
  padding: 10px;
  max-width: 110px; /* Set your desired maximum width */
  word-wrap: break-word; /* Allow text to wrap within the button */
}

.main-page-load-world {
  float: right;
}

label {
  color: white;
}

.loading_world_image {
  float: right;
  /* width: 20%; */
  height: 25%;
  /* background: #555; */
}

.generated_image {
  width: 100%;
  float: right;
  /* width: 20%; */
  /* height: 25%; */
  /* background: #555; */
}

.card,
.well {
  background: rgba(73, 73, 73, 0.26);
}

.field-margin-right {
  margin-left: 1rem;
}

#world_current_date,
#world_current_time,
#world_current_temperature,
.text-no-scroll {
  /* height: 100%; */
  overflow: auto;
  text-align: left;
  overflow-x: auto;
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  white-space: normal; /* crucial for IE 6, maybe 7? */
}

#world_progress_button,
#to_page_world_updating {
  margin-top: 12px;
}

/* .nav-item {
  color: white;
}

.nav-link.dropdown-toggle {
  color: white;
}

.nav-link.dropdown-toggle.show {
  color: white;
}

.nav-link.dropdown-toggle:hover {
  color: white;
} */

.nav {
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: white;
  --bs-nav-link-disabled-color: white;
  margin-bottom: auto;
}

.card-header-tabs .nav-link.active {
  background-color: #474747;
  border-bottom-color: #474747;
  color: white;
}

.npc-attributes {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.row {
  --bs-gutter-x: 0.1rem;
}
